import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.ServiceInfo;

import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;


com.incax.dbservice {

  serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory(), false, true);

  jdbcDriver="org.hsqldb.jdbcDriver";
  jdbcUrl="jdbc:hsqldb:file:test";
  jdbcUser="sa";
  jdbcPw="";

  //Set the size of the connection pool
  connectionPoolSize=3;

  //Set up your prepared statements
  //preparedStatements key=value;
  preparedStatements = new String [] {
    "allUsers=select * from user_test",
    "filterUsers=select * from user_test where last_name like ?"
  };
	
}
