import net.jini.jrmp.JrmpExporter;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.ServiceInfo;
import net.jini.core.lookup.ServiceTemplate;
import net.jini.core.entry.Entry;

import org.sf.jini.examples.failover.FailoverPreparer;

failover {
  persistentDirectory = "target/log/failover_service.log";

  initialLookupGroups = new String[] { System.getProperty("user.name") + "InstallVerifyGroup" };
}
