import net.jini.discovery.LookupDiscovery;
import net.jini.lookup.entry.*;
import net.jini.core.entry.*;

org.sf.jini.examples.glyph.GlyphRemoteFilter{
  initialGroups = LookupDiscovery.ALL_GROUPS;
  initialLocators = null;
  initialAttributes = new Entry[]{new Name("GlyphRemoteFilter")};
  exporterTypeName = "org.sf.jini.examples.glyph.GlyphRemoteFilter";
  confdir="C:/Work/JiniExamples/target/service-classes";
  exporterDefDir="C:/Work/JiniExamples/target/service-classes/conf/expdir";
  persistentDirectory="C:/Work/JiniExamples/target/service-classes/log/GlyphRemoteFilter";
} 	
