import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

MusicService {
  exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());

  codebase = "http://localhost:8082/music-service-dl.jar";

  musicDirectory = "src/main/resources/music";
}
