import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import com.sun.jini.phoenix.AccessILFactory;

com.sun.jini.phoenix {
  persistenceDirectory = "target/phoenix-log";
  
  initialLookupGroups = new String[] { System.getProperty("user.name") + "InstallVerifyGroup" };

  private invocationLayerFactory = new AccessILFactory();

  instantiatorExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), invocationLayerFactory, false, true);
}
