import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;

import java.io.File;

org.sf.jini.examples.remoteconf {
  serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory(), false, true);

  serviceIdFile = new File("serviceId.id");
}

