import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
  private static jiniHome = System.getProperty("jini.home");
  private static repositoryHome = System.getProperty("repository.home");
  private static separator = System.getProperty("path.separator");
  private static hostSuffix = "";

  private static policy = jiniHome + "/installverify/support/jsk-all.policy";

  private static serviceHost = System.getProperty("service.host");
  private static servicePort = System.getProperty("service.port");
  private static serviceDocroot = System.getProperty("service.docroot");
  private static serviceLibDir = System.getProperty("service.lib.dir");

  private static jiniRoot = jiniHome + "/lib/";

  static classpath = ConfigUtil.concat(new Object[] {
    jiniRoot, "jsk-lib.jar", separator,
    serviceLibDir, "/failover-service.jar"
  });

  private static config = ConfigUtil.concat(new Object[] {
    "./", "src/main/config/failover.config"}
  );

  private static codebase = ConfigUtil.concat(new Object[] {
    "http://", serviceHost, ":", servicePort, "/failover-service-dl.jar"
  });

  private failoverService = new NonActivatableServiceDescriptor(
    codebase, policy, classpath,
    "org.sf.jini.examples.failover.FailoverService",
    new String[] { config }
  );

  static serviceDescriptors = new ServiceDescriptor[] {
    failoverService
  };

}
