import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
  private static jiniHome = System.getProperty("jini.home");
  private static separator = System.getProperty("path.separator");

  private static serviceHost = System.getProperty("service.host");
  private static servicePort = System.getProperty("service.port");
  private static serviceLibDir = System.getProperty("service.lib.dir");

  private static jiniRoot = jiniHome + "/lib/";

  private static policy = jiniHome + "/installverify/support/jsk-all.policy";

  static classpath = ConfigUtil.concat(new Object[] {
    jiniRoot, "jsk-lib.jar", separator,
    serviceLibDir, "/remoteconf-filter-service.jar"
  });

  private static config = ConfigUtil.concat(new Object[] {
    "./", "src/main/config/remoteconf.config"}
  );

  private static codebase = ConfigUtil.concat(new Object[] {
    "http://", serviceHost, ":", servicePort, "/remoteconf-filter-service-dl.jar"
  });

  private filterService =  new NonActivatableServiceDescriptor(
    codebase, policy, classpath,
    "org.sf.jini.examples.remoteconf.RemoteConfService",
    new String[] { config }
  );

  static serviceDescriptors = new ServiceDescriptor[] {
    filterService
  };

}
