import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

TimeSpeechService {
  exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());

  codebase = "http://localhost:8082/time-service-dl.jar";

  voice = "srp";
}
